.venv
Simulations/Classical/conventional_rdf/
Simulations/Classical/msd/
Simulations/Classical/output/
Simulations/Classical/vacf/
Simulations/Classical/movies/
Simulations/Classical/restart_data.bin



Simulations/Machine-Learned/conventional_rdf/
Simulations/Machine-Learned/msd/
Simulations/Machine-Learned/output/
Simulations/Machine-Learned/vacf/
Simulations/Machine-Learned/movies/
Simulations/Machine-Learned/restart_data.bin
